const { SlashCommandBuilder } = require('discord.js');

module.exports = {
	data: new SlashCommandBuilder()
		.setName('ping')
		.setDescription('Replies with :ping_pong:'),
	async execute(interaction) {
		await interaction.reply(':ping_pong:');
	},
};
